html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.2;
}

div {
  display: block;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

p {
  line-height: 1.2;
}

body, header, main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

header {
  background-image: url("../img/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 31rem;
}

nav {
  background-color: cadetblue;
  width: 960px;
  height: 3rem;
  margin-top: 1rem;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.logo img {
  height: 1.5rem;
}

.logo span {
  padding: 0rem 1rem;
}

#sitenav, #mininav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

#sitenav span, #mininav span {
  padding-right: 2rem;
}

#banner {
  width: 960px;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}

#banner span {
  padding: 1.5rem 5rem;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

#products {
  margin: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 11rem;
  min-height: 8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

#paper {
  max-width: 3.5rem;
}

#ruler, #truck {
  max-width: 5rem;
}

.caption {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.caption span {
  text-align: center;
  padding: .1rem;
}

#info {
  max-width: 960px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

#mission {
  width: 35%;
  margin-right: 5%;
}

#contact {
  width: 35%;
}

#mission span, #contact span {
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
}

footer {
  background-color: azure;
  width: 960px;
  margin-top: 5rem;
}

footer .logo {
  margin: 4rem;
}

#mininav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav, #banner, #info, footer {
    width: 100%;
  }

  header {
    min-height: 22rem;
  }

  #banner {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  #banner span {
    padding: 1.33rem 4rem;
    font-size: 1.33rem;
  }

  nav {
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 480px) {
  header {
    min-height: 17rem;
    background-position: 20%;
  }

  #sitenav, .logo span {
    display: none;
  }

  #mininav {
    display: block;
  }

  #banner span, #mission, #mission span, #contact, #contact span {
    width: 100%;
  }

  #banner {
    margin-top: 9rem;
    margin-right: 0rem;
  }

  #banner span {
    padding: 1rem 0rem;
    font-size: 1rem;
    text-align: center;
  }

  main, #products, #info {
    flex-flow: column nowrap;
  }

  #products {
    margin: 3.77rem 0rem 2.23rem 0rem;
  }

  .card {
    min-height: 0rem;
    margin-bottom: 1.54rem;
  }

  .caption {
    max-width: 5rem;
    margin-top: 1rem;
    flex-flow: row wrap;
  }

  .caption span {
    font-size: 0.77rem;
  }

  #mission {
    margin-bottom: 4rem;
  }

  #mission p, #contact p {
    border: 4px solid white;
    font-size: 0.77rem;
  }

  footer .logo {
    justify-content: center;
    padding: 0;
  }
}
